body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: lightblue;
}

h1 {
    font-family: "BM Hanna 11yrs Old", serif;
    font-size: 38px;
}

.big-box {
    width: 295px;
    height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px
}

.guess-row {
    display: flex;
    gap: 5px;
}

.past-letter-box {
    width: 50px;
    height: 64px;
    border: 2px solid black;
    background-color: lightgray;
    font-size: 60px;
    resize: none;
    align-items: center;
    justify-content: center;
    font-family: "BM Hanna 11yrs Old", serif;
    text-transform: uppercase;
}

.word-guess {
    padding-top: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
}


.letter-box {
    width: 50px;
    height: 64px;
    border: 2px solid black;
    background-color: lightgray;
    resize: none;
    text-transform: uppercase;
    font-family: "BM Hanna 11yrs Old", serif;
    align-items: center;
    justify-content: center;
    font-size: 4.0em;
    line-height: 1;
    padding: 0;
    overflow: hidden;
}

#submitButton {
    font-family: "BM Hanna 11yrs Old", serif;
    font-size: 19px;
    height: 34px;
    width: 106px;
    margin: 20px auto 0 auto;
    display: block;
    background-color: forestgreen;
}

.error-box {
    display: none;
    position: absolute;
}

.correctWord {
    display: none;
    position: absolute;
    background-color: forestgreen;
    height: 23px;
    width: 63px;
    font-family: "BM Hanna 11yrs Old", serif;
}

.lostTheGame {
    display: none;
    position: absolute;
    background-color: crimson;
    font-family: "BM Hanna 11yrs Old", serif;
    font-size: 19px;
}

.pop-up {
    display: none;
    padding-top: 100px;
    position: fixed;
    z-index: 1000;
    width: 34%;
    height: 69%;
    background-color: white;
    border: 1px solid black;
    justify-content: cetner;
}

.content {
    font-family: "BM Hanna 11yrs Old", serif;

}

.content h1 {
    font-family: "BM Hanna 11yrs Old", serif;
    align-items: center;

}

.content h2 {
    font-family: "BM Hanna 11yrs Old", serif;
    align-items: center;
}

.content p {

}

#tryAgain {
    display: none;
    font-family: "BM Hanna 11yrs Old", serif;
    font-size: 19px;
    height: 34px;
    width: 106px;
    margin: 20px auto 0 auto;
    background-color: forestgreen;
}

