body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: lightblue;
}

h1 {
    font-family: "BM Hanna 11yrs Old", serif;
    font-size: 38px;
}

.big-box {
    border: 3px solid black;
    width: 425px;
    height: 420px;
    justify-content: center;
    background-color: lightgray;
}

.word-guess {
    padding-top: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.letter-box {
    width: 47px;
    height: 68px;
    border: 2px solid black;
    background-color: lightgray;
    font-size: 60px;
    resize: none;
    text-transform: uppercase;
    font-family: "BM Hanna 11yrs Old", Serif;
}

#submitButton {
    font-family: "BM Hanna 11yrs Old", serif;
    font-size: 19px;
    height: 34px;
    width: 106px;
    margin: 20px auto 0 auto;
    display: block;
    background-color: forestgreen;
}